    * {
        outline: none;
        text-align: center;
        margin: 0 auto;
        user-select: none;
    }

    body {
        background-color: lightgray;
        font-family: Arial, Helvetica, sans-serif;
    }

    .flex {
        display: flex
    }
    .flex.wrap{
        flex-wrap: wrap;
    }

    .space-around {
        justify-content: space-around
    }

    .flex.justify-center {
        justify-content: center;
    }

    .flex.align-center {
        align-items: center;
    }

    .column {
        flex-direction: column;
    }

    .container {
        max-width: 700px;
        margin: 0 auto;
        text-align: center
    }

    #text-input {
        height: 30px;
        font-size: 20px;
        margin-bottom: 10px;
        width: 295px;
        cursor:pointer;}

    span {
        width: 400px;
    }


    nav {
        height: 30px;
        background-color: orange;
        margin-bottom: 5px;
    }

    button {
        padding: 20px;
        cursor:pointer;
    }

    footer {
        position: fixed;
        background-color: orange;
        height: 30px;
        width: 100%;
        bottom: 0;
    }

    .options {
        margin-bottom: 30px;
    }

    .go-back,.download{
        width: 100px;
        padding: 2px;
        border: 1px solid black;
        border-radius: 10px;
        margin-bottom: 5px;
        cursor:pointer;
        font-size:20px
    }

    .go-back:hover,
    .download:hover {
        background-color: rgb(177, 228, 245);
    }

    a {
        text-decoration: none;
        color: black;

    }
    .rights{
        font-size:10px;
    }

    @media screen and (max-width: 600px) {
        #myCanvas {
            width: 300px;
            height: 300px;
            margin-bottom: 20px;
        }

        .image {
            width: 300px;
        }

        button {
            padding: 5px;
            border:1px solid black;
        }
        #text-input{
            margin-bottom:20px;
            height:80px;
            font-size:30px;
        }


        .grid {
            display: grid;
            grid-template-columns: 300px;
            grid-gap: 10px;
        }
    }

    @media screen and (min-width: 601px) {
        #myCanvas {
            width: 300px;
            height: 300px;
            margin-bottom: 10px;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(3, 150px);
            grid-gap: 5px;
        }
        .image {
            width: 150px;
        }
    }