@font-face {
    font-family: Monest;
    src: url(Monstserrat-Regular.ttf);
  }
/* Base */

* {
    box-sizing: border-box;
    outline:0
}

html {
    font-family: play, serif;
    color: #626262;
    line-height: 1.5;
}

body {
    font-size: 0.875rem;
    margin: 0;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: normal;
}


a {
    text-decoration: none;
    color: inherit;
}

/* flex helpers */

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}
.grid{
    display:grid;
    grid-template-columns:repeat(3,300px);
    grid-template-rows:repeat(3,300px);
    grid-gap:10px;
    overflow: scroll;   
}
/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Layout */

.container {
    margin: 0 auto;

}
.nav-bar-bg {
    height: 66px;
    background-color: #ff7f00;
    padding:20px;

  }
  .Gallery {
    width: 66px;
    height: 19px;
    font-family: Montserrat;
    font-size: 19px;

    text-align: center;
    color: #040a2c;}
.search{
    height:102px;
    background-color: #fff;
}
.main{
    height:932px;
    background-color: lightgray;
}
.bio{
    height:567px;
}
footer{
    background-color: #ff7f00;
    height:207px;
}
.my-image{
    width:322px;
    height:322px;
    border-radius:50%;
}
.title{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;}

.gallery{
    position:fixed;
    top:0;
    right: 0;
    left: 0;
}
.hide{
 display:none;
}
.go-back{
    width:100px;
    height:30px;
    padding:10px;
    text-align:center;
    background-color: rgb(185, 185, 224);
    border-radius:20px
}
