*{
    outline: none;
    text-align: center;
    margin:0 auto;
    background-color: lightgray;;
}

.flex {
    display: flex
}

.column {
    flex-direction: column;
}
.container {
    max-width: 300px;
    margin:0 10;
    text-align: center
}
button{
    width: 100px;
    align-self: center;
  
    /* display:none */
}
#text-input {
    height: 50px;
    font-size: 20px;
    width: 72%
}
.image{
    width:300px
}
nav{
    height:50px;
    background-color: orange;
    margin-bottom:30px;
}

/*
.flex.wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}
.align-center{
    align-items:center;
}

img {
    max-width: 230px;
    min-width: 30px;
    margin: 5px
}



button {
    padding: 10px;
    width: 140px;
    font-size: 10px;
    background-color: rgba(0, 204, 255, 0.541);
}



.add,
.remove {
    padding: 10px;
    background-color: rgb(82, 197, 243);
    margin: 10px;
    width:100px;
}
.nav-container{
 
    height: 66px;
    background-color: #ff7f00;
}
footer {
    
    height: 107px;
    background-color: #ff7f00;
}
canvas{
    width:400px
}

 */
